<div class="mt-4 row form mb-5">
  <div class="">
    <div class="row bg text-white justify-content-center">
      <p class="col-10 fw-bolder fs-4 mt-2">
        Filters
      </p>
      <fa-icon class="fs-3 col-2 mt-1" [icon]="bars" data-bs-toggle="collapse"
        href="#collapseExample" aria-expanded="false"
        aria-controls="collapseExample"></fa-icon>
    </div>
    <form class="text-white fw-bold" [(ngModel)]="formInput" name="filterForm" #myForm="ngForm">
      <div class="collapse m-3 " id="collapseExample">
        <div class="mb-3">
          <label for="exampleInputName" class="form-label">Name</label>
          <input type="name" name="name" class="form-control"
            id="exampleInputName"
            aria-describedby="nameHelp" placeholder="Name" #name ngModel>
        </div>

        <div class="mb-3">
          <label for="exampleInputDate" class="form-label">Joining date</label>
          <input type="text" name="date" class="form-control" id="exampleInputDate"
            #date placeholder="Joining date"
            onfocus="(this.type='date')" onblur="(this.type='text')"
            ngModel>
        </div>

        <div class="mb-3">
          <label for="exampleInputDepartment" class="form-label">Department</label>
          <select class="form-select" name="department" aria-label="Default select example"
            id="exampleInputDepartment" #department ngModel>
            <option value="" hidden disapled selected>Departmet</option>
            <option value="Business Development">Business Development</option>
            <option value="Sales & Marketing">Sales & Marketing</option>
            <option value="Development">Development</option>
            <option value="Test Team">Test Team</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="exampleInputSalary" class="form-label">Salary</label>
          <input type="number" name="salary" class="form-control"
            id="exampleInputSalary"
            aria-describedby="salaryHelp" placeholder="Salary" #salary
            ngModel>
        </div>

        <div class="mb-3">
          <label for="exampleInputExperience" class="form-label">Experience</label>
          <select class="form-select" name="experience" aria-label="Default select example"
            id="exampleInputExperience" #experience ngModel>
            <option value="" hidden disapled selected>Experience</option>
            <option value="Less than a year">Less than a year</option>
            <option value="From 1-3 years">From 1-3 years</option>
            <option value="3 years or above">3 years or above</option>
          </select>
        </div>
        <div class="row">
          <div class="col-8">
            <button type="button" class="btn btn-dark p-3 fw-bold"
              (click)="reset(myForm)">Clear All</button>
          </div>
          <div class="col-3">
            <button type="submit" value="submit" class="btn btn-dark p-3 fw-bold"
              (click)=" setData(name.value, department.value, date.value, salary.value, experience.value)">Filter</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
